:root{
  --head-color: #e8e8ff;
  --red-color: #dc5d6e;
  --blue-color: #0169ac;
}
.header-form{
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.header-form #search{
  padding: 10px;
  outline: none;
  border: 1px solid var(--blue-color);
  font-size: 1.2rem;
  border-radius: 5px;
  width: 18em;
}
.header-form select{
  padding: 10px 15px;
  outline: none;
  border: 1px solid var(--blue-color);
  font-size: 1.2rem;
  border-radius: 5px;
}
.header-form .btn{
  background-color: var(--blue-color);
  color: var(--head-color);
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
}
.header-form .btn:hover{
  transform: scale(1.05);
  transition: 0.2s all;
}
#main-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 5em;
  margin-bottom: 5em;
}
#main-menu .container{
  position: relative;
  display: flex;
  align-items: center;
  width: 30em;
  max-width: 35em;
  height: 20em;
  border: 1px solid var(--blue-color);
  border-radius: 10px;
  background-color: var(--head-color);
}
#main-menu .container .head{
  min-width: 45%;
  max-width: 50%;
  height: 100%;
}
#main-menu .container .head img{
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
} 

#main-menu .container .text{
  padding: 10px;
}
#main-menu .container .text table #bold{
  font-weight: 600;
  font-family: serif;
  color: var(--blue-color);
}
#main-menu .container .footer{
  display: flex;
  position: absolute;
  background-color: var(--blue-color);
  color: var(--head-color);
  padding: 10px;
  bottom: 0;
  border-radius: 0px 0px 7px 7px;
  width: 100%;
  gap: 10px;
}
#main-menu .container .footer .name{
 border-right: 1px solid var(--head-color);
 padding-right: 10px;
}
#main-menu .container .footer .name h1{
  font-size: 1.2rem;
  font-family: sans-serif;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pagination a{
  text-decoration: none;
  background-color: var(--head-color);
  color: var(--blue-color);
  font-size: 2em;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 5em;
}

/* register page
/* .forms {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: auto;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-inline: auto;
  margin-top: 60px;
}
.forms form {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.forms form h1 {
  padding: 20px;
  text-align: center;
  color: var(--red-color);
  text-transform: uppercase;
  margin-top: 20px;
}
.forms form #logo {
  width: 300px;
  margin-bottom: 30px;
}
.forms form input,
select {
  width: 90%;
  height: 35px;
  outline: none;
  border: 1px solid #888;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.file-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
}
.file-container .show-image {
  background-image: url(images/image1.jfif);
  background-position: center;
  background-size: cover;
}
.file-container #image {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.file-container .image-file {
  width: 100%;
  height: 100%;
  display: none;
}
.forms form input[type="reset"] {
  background-color: transparent;
  color: var(--red-color);
  border: 1px solid var(--red-color);
  border-radius: 5px;
}
.forms form input[type="reset"]:hover {
  color: #eee;
  background-color: var(--red-color);
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.3s ease;
}
.forms form input[type="submit"] {
  color: #eee;
  background-color: var(--primary-color);
  border: 1px solid #eee;
  border-radius: 5px;
}
.forms form input[type="submit"]:hover {
  background-color: #4444ff;
  transform: scale(1.03);
  transition: 0.3s ease;
  font-weight: bolder;
  cursor: pointer;
}
 */
